services:
  mongo:
    image: mongodb/mongodb-community-server:7.0.14-ubi9
    container_name: world-mongo
    ports:
      - '27017:27017'
    command:
      - mongod
      - --replSet
      - rs0
      - --bind_ip_all
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data:
